<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h5 class="box-title">Cms Management</h5>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table table-bordered  table-condensed table-hover">
                                <thead>
                                    <tr>
                                        <th>Content</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of data">
                                        <td>{{item.keyword}}</td>
                                        <td>
                                            <button title="Edit cms" id="modal-cmsedit" class="btn btn-primary" (click)="getcmspage(item)" href="#modal-container-cmsedit"
                                                data-toggle="modal"><i class="fa fa-edit"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                    </tr>
                                </tfoot>
                            </table>
                            
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<div class="modal fade" id="modal-container-cmsedit" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">{{pagetitle}}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">

                        <div class="form-group">
                            <label for="">Title</label>
                            <input type="text" class="form-control" id="" [(ngModel)]="cms.keyword" [readonly]="true" />
                        </div>
                        <div class="form-group">
                            <label for="">Description</label>
                            <ckeditor [(ngModel)]='cms.description' [config]="{uiColor: '#a4a3f7'}" [readonly]="false" debounce="500">
                            </ckeditor>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
                <button type="button" (click)="updateCmsData()" class="btn btn-primary">
                    Save changes
                </button>
            </div>
        </div>
    </div>
</div>